<html>
<head>
<style type="text/css">
img.bg
{
	position:absolute;
	top:10px;
	left:100px;
}
#cc
{
	position:absolute;
	top:320px;
	left:545px;
}
.cc
{
	color:#4F6228;
	font-size:200%;
	font-family:Calibri;
	line-height:1.5
}
</style>
</head>
<body>
<img class="bg" src="background.jpg"/>
<div class="cc" id="cc" style="height:200px;width:500px;overflow-y:scroll;overflow-x:hidden;" >
	<script>
    <% @users.each do |user|%>
		  document.write("<a href=\"traces/<%= user.to_s%>\">"+"<%= user.to_s%>"+"</a></br>");
    <% end %>
	</script>
</div>
<script>
	var obj = document.getElementById("cc");
	obj.scrollTop=obj.scrollHeight*(Math.random());
</script>
</body>
</html>
