<html class="dj_quirks dj_gecko dj_contentbox">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Webjoin Insight Dashboard - Recent Activity</title>
    <link type="image/x-icon" href="images/favicon.ico" rel="shortcut icon">
	<link href="/styles/style.css" rel="stylesheet" type="text/css">
	<script src='/jquery.js'></script>
	<script>dojoConfig = {parseOnLoad: true}</script>
    <link rel="stylesheet" href="/dojo/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="/dojo/dojo/resources/dojo.css">
	<link rel="stylesheet" href="/dojo/dojox/grid/enhanced/resources/claro/EnhancedGrid.css">
	<link rel="stylesheet" href="/dojo/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css">
    <script src='/dojo/dojo/dojo.js' data-dojo-config='parseOnLoad: true'></script>
  <script language="javascript">
    var userid = "<%=@userid %>";
  </script>
    <script src='/insight/menubaritem.js'></script>
    <script src='/insight/base64.js'></script>
	<script src='/insight/globalSetting.js' ></script>
	<script src='/insight/traceHistory2.js' ></script>
    <script src='/insight/tree2.js' ></script>
	<script src='/insight/traces.js' ></script>
	<script src='/insight/ajax_search.js' ></script>
	<script src='/insight/tracetab.js' ></script>
	<style>
	@import "/dojo/dojo/resources/dojo.css";
	@import "/dojo/dojox/grid/resources/Grid.css";
	@import "/dojo/dojox/grid/resources/claroGrid.css";
	#grid {
    	width: 100%;
    	height: 20em;
	}
	#grid2{
        width: 100%;
        height: 20em;
    }
	.noimage
	{
    	background-image : url('images/blank.gif')no-repeat;
	}
	.claro .dojoxGridCellFocus {
        border-width: 0px !important;
        border-style: none!important;
    }
	</style>
</head>
<body class="claro">
<div id="header">
	<div class="insight_logo" alt="webjoin Insight" id="logo"></div>
</div>
<div id="navigation">
	<div id="links">
    <div id="nav-menu" widgetid="nav-menu">
			</div>
		</div>
	</div>

<div id="traces" class="page-module">
	<div class="page-module-header"><h2 class="webjoinh2">Trace History</h2></div>
	<div class="page-module-body">
		<div style="width:100%; height: 150px;" id="trace-windows-chart">
			<div style="margin: 0px; padding: 0px; border-width: 0px; width: 0px; height: 0px;">
				<div style="margin: 0px; padding: 0px; border-width: 0px; font: 12px Tahoma,Arial,sans-serif; color: rgb(102, 102, 102); position: relative; left: 1507px; top: 130px; white-space: nowrap;">Live</div>
			</div>

			<div style="margin: 0px; padding: 0px; border-width: 0px; width: 0px; height: 0px;">
				<div style="margin: 0px; padding: 0px; border-width: 0px; font: 12px Tahoma,Arial,sans-serif; color: rgb(102, 102, 102); position: relative; left: 46px; top: 130px; white-space: nowrap;">15&nbsp;minutes&nbsp;ago</div>
			</div>
			<div id="traceHistory" style="width: 98%; height: 150px;"></div>
		</div>
	</div>
</div>

<div class="page-module" id="traces-window" style="visibility:hidden;">
	<div class="page-module-header">
		<h2 class="webjoinh2">Traces</h2><h3 class="webjoinh2" id="trace-time"></h3>
	</div>
	<div class="page-module-body table-body" style="width:100%;" id="gridDiv">
	</div>
</div>

<div class="page-module" id="trace" style="visibility:hidden;">	
    <div class="page-module-header">		
	  <h2 class="webjoinh2">Trace Detail</h2>		
	  <h3 class="webjoinh2" id="trace-detail-time"></h3>	
	</div>	
	<div class="search" id="searchbar">		
	  <table width="100%" border="0">  
	    <tr>
		<td align="left"><input type="text" id="txtSearch" name="txtSearch" alt="Search Criteria" onkeyup="search()" /> 
		</td>  
		</tr></table>	
	</div>	
	<div class="page-module-body">		
	   <div id="trace_detail" >				
	   <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="dataform">			this.getNodesByItem(dataform)[0].labelNode.innerHTML = dataform[0]				+ " (population: )";	
	  </script>		
	  </div>	
	</div>	
	
</div>
<!--
<div class="page-module-body" id="abc" style="width: 1000px; height: 300px;visibility:visibility;">    <div id="tc1-prog" >	<div id="tc"></div></div></div>
-->
<canvas id="image1" width="600" height="500">This browser or document mode doesn't support canvas</canvas>
<div id="footer">
	<hr>
	<p>
		Webjoin Insight <span id="version-number">1.8.3.RELEASE (20120417143651)</span>
		| Copyright &copy; 2009-2012 Webjoin
		| All Rights Reserved.
	</p>
</div>
</body>
</html>
