<!DOCTYPE html>
<html >
	<head>

			<link rel="stylesheet" href="/dojo/dijit/themes/claro/claro.css">
				
			<script>dojoConfig = {parseOnLoad: true}</script><script src='/dojo/dojo/dojo.js'></script><script>dojo.require("dijit.layout.TabContainer");
				dojo.require("dijit.layout.ContentPane");</script>
		</head>
		<body class="claro">
			    <div data-dojo-type="dijit/layout/TabContainer" style="width: 400px; height: 100px;" tabStrip="true">
					  <div data-dojo-type="dijit/layout/ContentPane" title="My first tab" selected="true">
						      Lorem ipsum and all around...
							    </div>
								  <div data-dojo-type="dijit/layout/ContentPane" title="My second tab">
									      Lorem ipsum and all around - second...
										    </div>
											  <div data-dojo-type="dijit/layout/ContentPane" title="My last tab">
												      Lorem ipsum and all around - last...
													    </div>
													</div>
												</body>
											</html>
